{% comment %}
We're creating arrays for slugs, titles and subtitles based on the contents of the _book collection so that we can use it later.
{% endcomment %}

{% for chapter in site.book %}
  {% assign slugs = slugs | append: chapter.slug | append:'||' %}
  {% assign titles = titles | append: chapter.title | append:'||' %}
  {% assign subtitles = subtitles | append: chapter.subtitle | append:'||' %}
{% endfor %}
{% assign slugs = slugs | split: '||' %}
{% assign titles = titles | split: '||' %}
{% assign subtitles = subtitles | split: '||' %}

<div class="book_nav">
<a href="{{ site.baseurl }}/book/">{{ site.data.book.title }}</a> &#187;
{% assign next = false %}
{% assign next_got = false %}
{% assign part_sel = 1000 %}

{% for item in site.data.book.toc %}
  {% for slug in slugs %}
    {% if item.url == slug %}
      {% assign chapter_title = titles[forloop.index0] %}
      {% assign chapter_subtitle = subtitles[forloop.index0] %}
      {% assign chapter_part = slug %}
    {% endif %}
  {% endfor %}
  
{% if chapter_part == page.part %}{% assign part_sel = forloop.index %}
  {% if item.url == page.slug %}
    {{ chapter_title }}
    {% assign next = true %}
    {% if item.status == "draft" %}{{ site.data.book.draft }}{% endif %}
  {% else %}<a href="{{ site.baseurl }}/book/{{ item.url }}" title="{{ chapter_subtitle }}">{{ chapter_title }}</a>
  {% endif %}
  {% for entry in item.chapters %}
    {% for slug in slugs %}
      {% if entry.url == slug %}
        {% assign chapter_title = titles[forloop.index0] %}
      {% endif %}
    {% endfor %}
    {% if next %}{% assign next_url = entry.url %}{% assign next_title = chapter_title %}{% assign next = false %}{% assign next_got = true %}{% endif %}
    {% if entry.url == page.slug %}&#187; {{ chapter_title }} {% if entry.status == "draft" %} {{ site.data.book.draft }}{% endif %}
      {% assign next = true %}
    {% endif %}
  {% endfor %}
{% else %}
  {% if forloop.index > part_sel %}
    {% if next_got == false %}
      {% assign next_url = item.url %}{% assign next_title = chapter_title %}{% assign next_got = true %}
    {% endif %}
  {% endif %}
{% endif %}

{% endfor %}
</div>


{% comment %}
We're getting {{ next_title }} and {{ next_url }} parameters from here. Not just navigation. We use them in book_next.html

Hack: part_sel is 1000 because there would be no book with 1000 parts and that it makes sense for the forloop.index to be bigger than part_sel when it gets defined. Otherwise it's always smaller than 1000.

{% endcomment %} 

