<p>1. {{ site.book[benefits].title }}</p>

<p>2. {{ site.book[0].title }}</p>

{% for chapter in site.book %}
<pre>
title: {{ chapter.title }}
sub: {{ chapter.subtitle }}
slug: {{ chapter.slug }}
</pre>
{% endfor %}

<div class="toc">
{% for item in site.data.book.toc %}
<h2><a href="{{ site.baseurl }}/book/{{ item.url }}">{{ item.url }}{% if item.status == "draft" %} {{ site.data.book.draft }}{% endif %}</a></h2>
<p>{{ item.subtitle }}</p>
<ul>
{% for entry in item.chapters %}
<li><strong><a href="{{ site.baseurl }}/book/{{ entry.url }}">{{ entry.url }}{% if entry.status == "draft" %} {{ site.data.book.draft }}{% endif %}</a></strong><br />
    {{ entry.subtitle }}</li>
{% endfor %}
</ul>
{% endfor %}
</div>