<div class="book_nav">
<a href="{{ site.baseurl }}{{ site.data.toc.toc_url }}">{{ site.data.toc.toc_title }}</a> &#187;
{% assign next = false %}
{% assign next_got = false %}
{% assign part_sel = 1000 %}
{% for item in site.data.toc.toc %}
{% if item.part == page.part %}{% assign part_sel = forloop.index %}
 {% if item.url == page.url %}{{ item.title }}{% assign next = true %}
  {% assign chapter_title = item.title %}{% assign chapter_subtitle = item.subtitle %}
  {% if item.status == "draft" %}{{ site.data.toc.toc_draft }}{% endif %}
 {% else %}<a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
 {% endif %}
 {% for entry in item.chapters %}
  {% if next %}{% assign next_url = entry.url %}{% assign next_title = entry.title %}{% assign next = false %}{% assign next_got = true %}{% endif %}
  {% if entry.url == page.url %}&#187; {{ entry.title }}
   {% assign chapter_title = entry.title %}{% assign chapter_subtitle = entry.subtitle %}
   {% if entry.status == "draft" %} {{ site.data.toc.toc_draft }}{% endif %}
   {% assign next = true %}
  {% endif %}
 {% endfor %}
{% else %}
 {% if forloop.index > part_sel %}
  {% if next_got == false %}
  {% assign next_url = item.url %}{% assign next_title = item.title %}{% assign next_got = true %}
  {% endif %}
 {% endif %}
{% endif %}
{% endfor %}
</div>

{% comment %}
We're getting {{ next_title }} and {{ next_url }} parameters from here. Not just navigation. We use them in book_next.html

Hack: part_sel is 1000 because there would be no book with 1000 parts and that it makes sense for the forloop.index to be bigger than part_sel when it gets defined. Otherwise it's always smaller than 1000.

{% endcomment %} 

