{% if page.book %}
  {% assign thisbook = page.book %}
{% else %}
  {% assign thisbook = 'book' %}
{% endif %}

{% if include.chapter %}
<h3>{{ site.data.[thisbook].langs_ch }}</h3>
{% else %}
<h3>{{ site.data.[thisbook].langs }}</h3>
{% endif %}

<ul>
{% for item in site.data.main.langs %}
<li><a href="{{ site.url }}/{{ site.data.[item.name].url }}/{% if include.chapter %}{{ include.chapter }}/{% endif %}" title="{{ site.data.[item.name].lang }}" {% if item.name == thisbook %}class="bold"{% endif %}>{{ site.data.[item.name].lang_em }} {{ site.data.[item.name].lang }} [{{ site.data.[item.name].lang_en }}]{% if include.chapter==null %} - {{ site.data.[item.name].percent }}%{% endif %}</a></li>
{% endfor %}
</ul>

<!--
Collection:
{% for item in site.[thisbook] %}
{{ item.slug }}|
{% endfor %}

TOC:
{% for item in site.data.[thisbook].toc %}
{{ item.slug }}|
{% endfor %}
-->
