{% if page.book %}
  {% assign thisbook = page.book %}
{% else %}
  {% assign thisbook = 'book' %}
{% endif %}

{% if include.chapter %}
<h3>{{ site.data.[thisbook].langs_ch }}</h3>
{% else %}
<h3>{{ site.data.[thisbook].langs }}</h3>
{% endif %}

<ul>
{% for item in site.data.main.langs %}

{% if include.chapter %}
  {% assign showlang = null %}
  {% for chapter in site.[item.name] %}
    {% if chapter.slug == include.chapter %}
      {% assign showlang = true %}
    {% endif %}
  {% endfor %}
  {% if item.name == 'book' %}
    {% capture urllang %}{{ site.url }}/{{ include.chapter }}/{% endcapture %}
  {% else %}
    {% capture urllang %}{{ site.url }}/{{ item.name }}/{{ include.chapter }}/{% endcapture %}
  {% endif %}
{% else %}
  {% assign showlang = true %}
  {% capture urllang %}{{ site.url }}/{{ item.name }}/{% endcapture %}
{% endif %}

{% if showlang %}
<li><a href="{{ urllang }}" title="{{ site.data.[item.name].lang }}" {% if item.name == thisbook %}class="bold"{% endif %}>{{ site.data.[item.name].lang_em }} {{ site.data.[item.name].lang }} [{{ site.data.[item.name].lang_en }}]{% if include.chapter==null %} - {{ site.data.[item.name].percent }}%{% endif %}</a></li>
{% endif %}

{% endfor %}
</ul>
