//
// VARIABLES
//

// Colors
//$blue: #4183C4;
$blue: #8A2BE2;

//@media (prefers-color-scheme: light) {
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
//}

@media (prefers-color-scheme: dark) {
// Grays
body {
	margin-top: 50px;
}
$black: #fff;
$darkerGray: #eee;
$darkGray: #666;
$gray: #333;
$lightGray: #222;
$white: #000;
}


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
