//
// VARIABLES
//

// Colors

$blue: #0000A0;
$blueLight: #5A5AFA;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$lighterGray: #f6f6f6;
$white: #fff;

// Font stacks
@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"), 
       local("Segoe UI Symbol"),
       local("Noto Color Emoji");
}

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Verdana", sans-serif, color-emoji;
$fontserif: Georgia, Cambria, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif, color-emoji;
$fontmono: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier', Monaco, monospace, color-emoji;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

//Dark mode mixin
@mixin dark-mode {
  @media (prefers-color-scheme: dark) { @content; }
}