//
// VARIABLES
//

// Colors
//$blue: #4183C4;
$blue: #8A2BE2;

@media (prefers-color-scheme: dark) {
// Grays
$black: #fff;
$darkerGray: #eee;
$darkGray: #666;
$gray: #333;
$lightGray: #222;
$white: #000;
}

// Grays
$black: #000 !default;
$darkerGray: #222 !default;
$darkGray: #333 !default;
$gray: #666 !default;
$lightGray: #eee !default;
$white: #fff !default;



// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
